  <ion-header class="header">
    <ion-header class="ion-no-border">
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button (click)="logout()">
            <ion-icon name="log-out-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
</ion-header>

<ion-content color="primary">
  <ion-button size="full" color="primary" class="alarma" (click)="toggleAlarm()">
    <ion-text color="light" id="alarma__text">
      <div>Pulse para <br> activar alarma</div>
      <ion-icon name="lock-open" size="large"></ion-icon>
    </ion-text>
  </ion-button>
</ion-content>
