  <ion-header class="header">
    <ion-header class="ion-no-border">
      <ion-toolbar color="{{activated ? 'danger': 'primary'}}">
        <ion-buttons slot="start">
          <ion-button (click)="logout()">
            <ion-icon name="log-out-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
</ion-header>

<ion-content color="{{activated ? 'danger': 'primary'}}">
  <ion-button size="full" color="{{activated ? 'danger': 'primary'}}" class="alarma" (click)="toggleAlarm($event)">
    <ion-text color="light" id="alarma__text">
     <div  *ngIf="!activated else activatedTxt">
        <div>Pulse para <br> activar la alarma</div>
        <ion-icon name="lock-open" size="large"></ion-icon>
      </div> 
      <ng-template #activatedTxt>
        <div>Pulse para <br> desactivar la alarma</div>
        <ion-icon name="lock-closed"></ion-icon>
      </ng-template>
    </ion-text>

    
  </ion-button>
</ion-content>
